.dashboard-container {
  padding: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  main {
    .channel-controls {
      margin-top: 2rem;

      button {
        margin-right: 1rem;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}